body {margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 10px;}

.error{
  color: red;
}
.icon {
  width: 14px;/*22px*/
  height: 14px;
  border-radius: 5px;
  margin-bottom: -2px
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10px;
}

table caption {
  padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

/* Pricing */
* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #04a5aa;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}



/* form */

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password],input[type=email],input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button2 {
  background-color: #1111118a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button2:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  div.content {margin-left: 0;}
}
